/* --- Resets & Base Styles --- */
html,
body,
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans 3", sans-serif;
    max-width: 375px;
}

/* --- Shared Utility Groupings --- */
/* Circular images */
#profile-img,
.profile-info img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

/* Common 13px font-size */
.profile-name,
.likes-info,
section>p {
    font-size: 13px;
}

/* Common 10px left-margin */
.profile-info div,
.icons img,
.likes-info,
section>p {
    margin-left: 10px;
}

/* --- Header --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    border-bottom: 2px solid #C6C6C6;
    padding: 0 15px;
}

#logo {
    height: 34px;
}

/* --- Feed --- */
.profile-info {
    display: flex;
    padding: 10px;
}

.profile-info p {
    font-size: 12px;
}

.post-img {
    margin-bottom: 10px;
    width: 100%;
}

.icons img {
    width: 23px;
    margin-bottom: 10px;
}

section>p {
    margin-top: 5px;
}